{% extends "base.html" %}

{% block page_title %}
    <h1>Home</h1>
{% endblock page_title %}

{% block page_content %}
    <p>
        Hey there! My name is Sami Elsayed and I'm a current Junior at the elite <a href="https://tjhsst.fcps.edu">Thomas Jefferson High School for Science and Technology</a>. Welcome to my website! Here you'll find information about me, my projects, and my blog. Feel free to look around and contact me if you have any questions via Facebook, Instagram, or email (see the contact page for contact information).

        To learn more about me, click <a href="/about">here</a>.
    </p>
{% endblock page_content %}